@media (max-width:500px)  {
   
  

     #logoimg{
          width: 70px;
     }












   /* ========================================================================================Home */

     *{
          border: 1px solid red;
     }

    .home{
          margin: 0;
          width: auto;
          height: 600px;   
    }

   .leftbox-home{
        width: 100%;
        height: 100%;
   }


   .apresentacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        width: 70%;
        padding: 30px;
   }

   .apresentacao > h1{
        font-size: 29px;
        line-height: 30px;
   }

   .apresentacao > p{
     margin: 20px auto;
     font-size: 15px;
   }

   .apresentacao > a{
        width: 50%;
        margin-top: 0;
        padding: 10px;
        font-size: 16px;
   }

   .rightbox-home{
        display: none;
   }
}

/* ================================== Produtos ================================================== */


.produtos{
     height: auto;
     width: auto;
}

.boxsectionprodutos{
     width: auto;
}


.boxprodutos{
     flex-direction: column;
}

.produto{
     width: auto;
}
